.user_image{
    width: 50% !important;
    height: auto !important;
    border-radius: 50%;
    position: relative !important;
    left: 52% !important;
}
.form-control-prof {
    border: none;
    text-align: end;
    display: inline;
}
form .profile_update {
    display: none;
}
.form-control-prof:hover{
    background-color: rgba(126, 126, 126, 0.5);
    width: fit-content !important;
}
.overlay-content-wrapper{
    width: fit-content !important;
}
.temp > span {
    background-color: white;
    font-size: 21px;
    right: 2%;
    position: absolute;
    top: -100%;
}
.temp {
margin-top: 20px;
padding: 20px;
position: relative;
}


.profile-container {
    position: relative;
}

.profile-image-wrapper {
    position: relative;
    user-select: none;
}

.profile-image {
    border-radius: 50%;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor:pointer;
}

.overlay .edit-icon {
    width: 50px;
    height: 50px;
    fill: white;
}

.profile-image-wrapper:hover .overlay ,
.overlay-content-wrapper:hover .overlay {
    opacity: 1;
}

.file-input {
    display: none;
}