{% block content %}

<article class="media content-section">
    <img class="article-img" src="{{object.imageUrl}}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a href="#" class="mr-2">{{object.author}}</a>
            <small class="text-muted">{{object.created_at}}</small>
        </div>
        <h2><a href="#" class="article-title">{{object.title}}</a></h2>
        <p class="article-content">{{object.content}}</p>
    </div>
    <br>
</article>

{% endblock content %}