{% block content %}

{% for blog in blogs %}
<article class="media content-section">
    <img class="article-img" src="{{blog.imageUrl}}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a href="#" class="mr-2">{{blog.author}}</a>
            <small class="text-muted">{{blog.created_at}}</small>
        </div>
        <h2><a href="{% url 'blog-detail' blog.id%}" class="article-title">{{blog.title}}</a></h2>
        <p class="article-content">{{blog.content|truncatechars:200}}</p>
    </div>
    <br>
</article>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/blog?page={{ page_obj.previous_page_number }}">قبلی</a>
            {% endif %}
            <span class="page-current">
                صفحه {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/blog?page={{ page_obj.next_page_number }}">بعدی</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock content %}