{% load static %}
{% load compress %}
{% load humanize %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="fa">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="enamad" content="16140608">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>{% block title %}{% endblock %}</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
        <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
        <script src="https://kit.fontawesome.com/30a5ac9f3a.js" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#478ac9">
        <meta property="og:type" content="website">
        <meta data-intl-tel-input-cdn-path="intlTelInput/">
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        {% block link %}{% endblock %}
        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
        {% block custom_style %}{% endblock %}
    </head>
    <body data-path-to-root="/" data-include-products="false" class=" u-body u-xl-mode" data-lang="fa">
        <nav id="navbar" class="bg-white/90 bg-opacity-80 bg-gradient-to-r  dark:bg-gray-900 sticky w-full z-40 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
            <div class="z-30 max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'image/logo.png' %}" class="h-14 w-14" alt="Logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">خادمین سیده زینب(س)</span>
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    {% if request.user.is_anonymous %}
                        <a href="{% url 'register' %}">
                            <button type="button" class="mx-1 text-white bg-rose-500 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                ورود
                            </button>
                        </a>
                    {% endif %}
                    <a href="{% url 'donate' %}">
                        <button type="button" class="mx-1 ring-1 text-rose-600 ring-rose-600 bg-white hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-lg px-4 py-2 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">
                            کمک آنلاین
                        </button>
                    </a>
                    {% if request.user.image %}
                        <img src="{{request.user.image.url}}" class="user-pic mx-3" onclick="toggleMenu()">
                    {% elif request.user.volunteer_info %}
                        <img src="{{request.user.volunteer_info.profile_pic.url}}" class="user-pic mx-3" onclick="toggleMenu()">
                    {% else %}
                        <img src="{% static 'image/avatar.webp' %}" class="user-pic mx-3" onclick="toggleMenu()">
                    {% endif %}
                    <!-- <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                        </svg>
                    </button> -->
                </div>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky"></div>

            <div class="sub-menu-wrap overflow-y-scroll" id="subMenu">
                <div class="sub-menu overflow-y-scroll">
                    <div class="user-info text-end text-sm flex justify-between">
                        {% if request.user.firstname %}
                            <p class="text-end text-sm col-5">{{ request.user.get_full_name }}</p>
                        {% elif request.user.phone %}
                            <p class="text-end text-sm col-5">{{ request.user.phone }}</p>
                        {% elif request.user.email %}
                            <p class="text-end text-sm col-5">{{ request.user.email }}</p>
                        {% else %}
                            <p class="text-end text-sm col-5"></p>
                        {% endif %}
                        {% if request.user.image %}
                        <img src="{{request.user.image.url}}" class="col-5">
                        {% elif request.user.volunteer_info %}
                        <img src="{{request.user.volunteer_info.profile_pic.url}}" class="col-5">
                        {% else %}
                        <img src="{% static 'image/avatar.webp' %}" class="col-5">
                        {% endif %}
                    </div>
                    <hr>

                    <a href="{% url 'dashboard' %}" class="sub-menu-link ring-1 ring-slate-400 rounded-md text-end p-1">
                        <i class="fa-solid fa-user"></i>
                        <p>داشبرد کاربری</p>
                    </a>
                    <a href="{% url 'dashboard' %}" class="sub-menu-link ring-1 ring-slate-400 rounded-md text-end p-1">
                        <i class='bx bxs-edit'></i>
                        <p>ویرایش پروفایل</p>
                    </a>
                    {% if request.user.volunteer_info %}
                    <a href="{% url 'volunteer' %}" class="sub-menu-link ring-1 ring-slate-400 rounded-md text-end p-1" style="display: none;">
                        <i class="fa-solid fa-plus"></i>
                        <p>ثبت نام به عنوان داوطلب</p>
                    </a>
                    {% else %}
                    <a href="{% url 'volunteer' %}" class="sub-menu-link ring-1 ring-slate-400 rounded-md text-end p-1">
                        <i class="fa-solid fa-plus"></i>
                        <p>ثبت نام به عنوان داوطلب</p>
                    </a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="sub-menu-link ring-1 ring-slate-400 rounded-md text-end p-1">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <p>خروج</p>
                    </a>

                </div>
            </div>

        </nav>
        <div class="container">
            {% include 'partials/_messages.html' %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
        </script>
        <script>
            window.addEventListener('scroll', function() {
            const navbar = document.getElementById('navbar');
            const scrollPosition = window.scrollY;
            // const navbarOpacity = scrollPosition <= 35 ? 100 : 35;
            // navbar.style.opacity = navbarOpacity / 100;
            const scrolledDown = scrollPosition <= 35 ? false : true;
            if (scrolledDown == true) {
                navbar.classList.replace('bg-white/90', 'bg-white/20');
                navbar.classList.add('backdrop-blur-sm');
            }
            else {
                navbar.classList.replace('bg-white/20', 'bg-white/90');
                navbar.classList.remove('backdrop-blur-sm');
            }
        });
        </script>
        <script>
            let subMenu = document.getElementById("subMenu");
            function toggleMenu(){
                subMenu.classList.toggle("open-menu");
            }
        </script>

        {% block script %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // Fade out messages after 5 seconds
                $('.message').fadeOut(5000);
            });
        </script>
    </body>
</html>