{% extends 'base.html' %}
{% load static %}

<!--================ Header Area =================-->
{% block title %}Home{% endblock %}
{% block headername %}Home{% endblock %}
{% block nestname %}Home{% endblock %}
<!--================ End Header Area =================-->


<!--================ Home Area =================-->
{% block content %}
{% include 'partials/_messages.html' %}
    <section class="u-clearfix u-container-align-right-lg u-container-align-right-md u-container-align-right-xl u-custom-color-4 u-valign-middle-lg u-valign-middle-xl u-section-1 w-100" id="carousel_60d4">
        <div class="data-layout-selected u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1" style="margin: 0; width: 100%;">
            <div class="u-gutter-0 u-layout" style="height: fit-content;">
                <div class=" row grid-container inline" style="display: inline;">
                    <div class="u-align-right u-container-style grid-child col-6" style="float: right; padding: 0;">
                        <img src="{% static 'image/shrine.jpg' %}" alt="حرم حضرت زینب" style="float: right; width: auto; overflow: hidden;">
                    </div>
                    <div class="col-3 u-align-left u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-17 u-layout-cell-1 grid-child" style="margin-left: 10%; padding-bottom: 0;">
                        <div class="u-container-layout u-container-layout-1" style="padding-bottom: 0;">
                            <h5 class="u-custom-font u-font-pt-sans u-text u-text-1">LOREM IPSUM </h5>
                            <h1 class="u-text u-text-2">Lorem<br><b>IPSUM</b></h1>
                            <p class="u-text u-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="{% url 'about' %}" class="u-btn u-btn-rectangle u-button-style u-font-pt-sans u-radius-0" id="readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-section-2" id="carousel_1c78">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-shape u-shape-svg u-text-custom-color-4 u-shape-1">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 80">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0b7f"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 80" x="0px" y="0px" id="svg-0b7f" style="enable-background:new 0 0 160 80;">
                    <path d="M160,0H0c0,44.2,35.8,80,80,80S160,44.2,160,0z"></path>
                </svg>
            </div>
            <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">چطور میتوانیم کمک کنیم؟</h1>
            <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1500" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-group-1" id="circle-yellow">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h2 class="u-custom-font u-font-oswald u-text u-text-2">01</h2>
                                </div>
                            </div>
                            <h5 class="u-align-right u-custom-font u-text u-text-3">ثبت نام داوطلب </h5>
                            <p class="u-text u-text-4">Sample text.</p>
                            <a href="{% url 'volunteer' %}" class="u-active-none u-border-2 u-border-palette-4-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-1">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-group-2" id="circle-pink">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <h2 class="u-custom-font u-font-oswald u-text u-text-5">02</h2>
                                </div>
                            </div>
                            <h5 class="u-align-right u-custom-font u-text u-text-6">اهدای لوازم<br></h5>
                            <p class="u-text u-text-7">Sample text.</p>
                            <a href="#" class="u-active-none u-border-2 u-border-palette-4-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                            <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-group-3" id="circle-yellow">
                                <div class="u-container-layout u-valign-middle u-container-layout-6">
                                    <h2 class="u-custom-font u-font-oswald u-text u-text-8">03</h2>
                                </div>
                            </div>
                            <h5 class="u-align-right u-custom-font u-text u-text-9">بسته ارزاق</h5>
                            <p class="u-text u-text-10">Sample text.</p>
                            <a href="#" class="u-active-none u-border-2 u-border-palette-4-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-3">بیشتر بخوانید</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                            <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-group-4" id="circle-pink">
                                <div class="u-container-layout u-valign-middle u-container-layout-8">
                                    <h2 class="u-custom-font u-font-oswald u-text u-text-11">04</h2>
                                </div>
                            </div>
                            <h5 class="u-align-right u-custom-font u-text u-text-12">پرداخت آنلاین</h5>
                            <p class="u-text u-text-13">Sample text.</p>
                            <a href="{% url 'donate' %}" class="u-active-none u-border-2 u-border-palette-4-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-container-align-center u-section-3" id="carousel_e9eb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-text u-text-custom-color-4 u-text-default u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">در خادمین سیده زینب(س) چه میگذرد؟ </h2>
            <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-31 u-image-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-image-width="1000" data-image-height="450">
                                    <div class="u-container-layout u-container-layout-1">
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <div class="u-container-align-left u-container-style u-layout-cell u-size-29 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-align-right u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">درمانگاه های جهادی</h2>
                                        <p class="u-align-right u-text u-text-3">درمانگاه های جهادی</p>
                                        <a href="" class="u-border-radius-0 u-btn u-button-style u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="readmore">بیشتر بدانید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <h2 class="u-align-right u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="500">بسته های ارزاق</h2>
                                        <p class="u-align-right u-text u-text-5">بسته های ارزاق</p>
                                        <a href="" class="u-border-radius-0 u-btn u-button-style u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" style="font-family: Byekan;" id="readmore">بیشتر بدانید</a>
                                    </div>
                                </div>
                                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1080" data-image-height="808" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                                    <div class="u-container-layout u-container-layout-4">
                                        <img src="" alt="">
                                    </div>
                            </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="1080" data-image-height="607" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">
                                    <div class="u-container-layout u-container-layout-5" style="object-fit: cover; overflow: hidden;" >
                                        <img src="" alt="" style="object-fit: cover;">
                                    </div>   
                                </div>
                                <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <h2 class="u-align-right u-custom-font u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="1000">برپایی موکب های درمانی در ایام اربعین</h2>
                                        <p class="u-align-right u-text u-text-7">برپایی موکب های درمانی در ایام اربعین</p>
                                        <a href="" class="u-border-radius-0 u-btn u-button-style u-font-oswald u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" id="readmore">بیشتر بدانید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="u-clearfix u-container-align-right-lg u-custom-color-4 u-section-4">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <img src="" alt="" class="u-expanded-width-xs u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-default u-image-1" data-image-width="540" data-image-height="960">
            <div class="u-expanded-width-xs u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-right u-container-style u-custom-color-2 u-list-item u-repeater-item u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h5 class="u-custom-font u-text u-text-2">شماره تماس</h5>
                            <span class="u-icon u-text-white u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 513.64 513.64">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-17d4"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 513.64 513.64" x="0px" y="0px" id="svg-17d4" style="enable-background:new 0 0 513.64 513.64;">
                                    <g>
                                        <g>
                                            <path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72    c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68    c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44    l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="u-align-right u-container-style u-custom-color-2 u-list-item u-repeater-item u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h5 class="u-custom-font u-text u-text-3">آدرس</h5>
                            <span class="u-icon u-text-white u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-983b"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-983b" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="u-align-right u-container-style u-custom-color-2 u-list-item u-repeater-item u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h5 class="u-custom-font u-text u-text-4" style="font-family: Byekan;">شماره کارت موکب</h5>
                            <span class="u-icon u-text-white u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.997 51.997">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7163"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 51.997 51.997" x="0px" y="0px" id="svg-7163" style="enable-background:new 0 0 51.997 51.997;">
                                    <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
                                    c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
                                    c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
                                    C52.216,18.553,51.97,16.611,51.911,16.242z"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="u-clearfix u-container-align-right-lg u-custom-color-4 u-section-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="left-container col-xs-6 col-sm-6 col-md-6">
                    <div class="left-inner-container">
                        <h2 class="u-text u-text-1" style="font-family: Byekan;">با ما در تماس باشید</h2>
                        <div>
                            <h5>شماره تماس</h5>
                            <span class="u-icon u-text-white u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 513.64 513.64">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-17d4"></use>
                                    <svg class="u-svg-content" viewBox="0 0 513.64 513.64" x="0px" y="0px" id="svg-17d4" style="enable-background:new 0 0 513.64 513.64;">
                                        <g>
                                            <g>
                                                <path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72    c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68    c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44    l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </svg>
                            </span>
                            <h5>09102995539</h5>
                        </div>
                        <div>
                            <h5>آدرس</h5>
                            <span class="u-icon u-text-white u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-983b"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-983b" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <h5>تهران - ولیعصر</h5>
                        </div>
                        <div>
                            <h5>شماره کارت موکب</h5>
                            <span class="u-icon u-text-white u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.997 51.997">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7163"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 51.997 51.997" x="0px" y="0px" id="svg-7163" style="enable-background:new 0 0 51.997 51.997;">
                                    <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
                                    c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
                                    c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
                                    C52.216,18.553,51.97,16.611,51.911,16.242z"></path>
                                </svg>
                            </span>
                            <h5>6037991958456521</h5>
                        </div>
                    </div>
                </div>

                <div class="right-container col-xs-6 col-sm-6 col-md-6 pt-4">
                    <div class="right-inner-container">
                        <form method="post" class="u-form-vertical" source="email" name="form">
                            {% csrf_token %}
                            <div class="container d-flex justify-content-right align-items-right">
                                <div style="background-color:#d7d7d7 ;" class="row d-flex border-dark">
                                </div>
                            </div>
                            <div class="u-align-center u-form-group u-form-submit u-form-group-4">
                                <a href="#" class="u-border-2 u-btn u-btn-submit u-button-style u-custom-color-1 u-text-hover-black u-text-white u-btn-1">ارسال</a>
                                <input type="submit" value="ارسال پیام" class="u-form-control-hidden" wfd-invisible="true">
                            </div>
                            <div class="u-form-send-message u-form-send-success" wfd-invisible="true">پیام شما با موفقیت ارسال شد</div>
                            <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> ناموفق </div>
                            <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                            <input type="hidden" name="formServices" value="80a4d85a-d6d2-a7b7-c7ed-87fc493df658"> -->
                        <!-- </form>

                        <div class="container">
                            <form method="post" class="u-form-vertical" source="email" name="form">
                                {% csrf_token %}
                                <div class="row input-container">
                                    <div>
                                        <div>
                                            <p>                          
                                                :{{ form.name.label}}
                                            </p>
                                            <span class="error">
                                                {{ form.name.errors.as_text }} 
                                            </span>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="float: left; position: relative;">
                                        <div>
                                            <p>                          
                                                :{{ form.email.label}}
                                            </p>
                                            <span class="error">
                                                {{ form.email.errors.as_text }} 
                                            </span>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div style="float:right;">
                                            <p>                          
                                                :{{ form.subject.label}}
                                            </p>
                                            <span class="error">
                                                {{ form.subject.errors.as_text }} 
                                            </span>
                                            {{ form.subject }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="wide">
                                            <p>                          
                                                :{{ form.content.label}}
                                            </p>
                                            <span class="error">
                                                {{ form.content.errors.as_text }} 
                                            </span>
                                            <div>
                                            {{ form.content }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button class="btn-lrg">ارسال</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <footer class="footer-distributed">
        <div class="footer-left">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>تهران-ایران</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>09102995539</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="">abc@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-center">
            <p class="footer-links">
                <a href="">صفحه اصلی</a>
                |
                <a href="">درباره ما</a>
                |
                <a href="">ارتباط با ما</a>
                |
                <a href="">بلاگ و گزارش کار</a>
            </p>
            <p class="footer-company-about">
            خادمین سیده زینب یک گروه جهادی درمانی است که هفت سال است در حوزه درمانی خدمت رسانی میکند
            </p>
        </div>
        <div class="footer-right">
            <p class="footer-company-name">خادمین سیده زینب</p>
            <div class="footer-icons">
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-telegram"></i></a>
            </div>
        </div>
    </footer>
    {% endblock content %}
<!--================End Home Area =================-->