{% extends 'base.html' %}
{% load static %}
{% block title %}داشبورد اعضا{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
{% endblock %}

{% block custom_style %}
    <style>
        textarea{
            height: 40px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="sidebar">
    <div class="top">
        <i class='bx bx-menu bx-tada-hover' id="btn"></i>
    </div>
    <ul>
        <li>
            <a href="">
                <i class='bx bxs-bell-ring'></i>
                <span class="absolute rounded-full text-sm w-5 h-5 -right-2 top-2 bg-orange-500 bg-opacity-75 text-center bg-transparents">
                    {{request.user.notification_set.unread_notifications.count}}
                </span>
                <span class="nav-item">پیام ها</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class='bx bxs-edit'></i>
                <span class="nav-item">ویرایش پروفایل</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class='bx bxs-cloud-upload'></i>
                <span class="nav-item">بارگزاری مدارک</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class='bx bxs-user-plus'></i>
                <span class="nav-item">ثبت نام داوطلب</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class='bx bx-log-out'></i>
                <span class="nav-item">خروج</span>
            </a>
        </li>
    </ul>
</div>

<div class="main-content">

    <div class="container d-flex justify-content-center align-items-center w-90 max-w-[80rem]">
        <div class="row d-flex  w-100 max-w-[80rem] justify-content-center m-  rounded border-dark" style="border: 1px solid black; width:fit-content">
            <div class="temp w-full">
                <span class="float-end d-flex text-end">
                    <svg class="w-[36px] h-[36px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>                      
                </span>
                <span>ارسال پیام</span>
            </div>
            <div class="col-sm-12 col-md-10 d-fslex " id="create-notification-box">
                <form id="notification-form" method="POST" action="{% url 'send_notification' %}">
                    {% csrf_token %}
                    <div class="row justify-content-end align-middle h-full pb-2">
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <button id="dropdownSearchButton" data-dropdown-toggle="dropdownAbilitySearch" class="float-end inline-flex w-full justify-center items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700" type="button">
                                فیلتر تخصص 
                                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            
                            <!-- Dropdown menu -->
                            <div id="dropdownAbilitySearch" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                                <div class="p-3">
                                    <label for="ability-input-group-search" class="sr-only text-end">جست و جو</label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                        </div>
                                        <input type="text" id="ability-input-group-search" class="text-end bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="جست و جوی تخصص">
                                    </div>
                                    </div>
                                    <ul id="ability-ul-list" class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                                        {% for code, specialization in specializations %}
                                        <li>
                                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                            <input id="checkbox-ability-{{forloop.counter}}" name="specialist_filter" value="{{code}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for="checkbox-ability-{{forloop.counter}}" class="text-end w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{specialization}}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <button id="dropdownSearchButton" data-dropdown-toggle="dropdownUserSearch" class="float-end w-full text-center inline-flex justify-center items-center px-4 py-2 text-sm font-medium  text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700" type="button">
                                فیلتر کاربران 
                                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            
                            <!-- Dropdown menu -->
                            <div id="dropdownUserSearch" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                                <div class="p-3">
                                    <label for="user-input-group-search" class="sr-only text-end">جست و جو</label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                        </div>
                                        <input type="text" id="user-input-group-search" class="text-end bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="جست و جوی کاربر">
                                    </div>
                                    </div>
                                    <ul id="user-ul-list" class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                                    {% for user in users %}
                                        <li>
                                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                            <input id="checkbox-item-{{forloop.counter}}" name="user_ids_filter" value="{{user.id}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for="checkbox-item-{{forloop.counter}}" class="text-end w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{user.get_full_name}}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                            </div>
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <div class="text-end">
                                {{notification_form.category.label}}
                            </div>
                            {{notification_form.category}}
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <div class="text-end">
                                {{notification_form.short_description.label}}
                            </div>
                            {{notification_form.short_description}}
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <div class="text-end">
                                {{notification_form.content.label}}
                            </div>
                            {{notification_form.content}}
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 col-md-5 my-2">
                            <div class="text-end">
                                {{notification_form.link.label}}
                            </div>
                            {{notification_form.link}}
                        </div>
                        <div class="max-w-sm mx-auto col-sm-10 d-flex justify-content-center col-md-10 my-2">
                            <input type="submit" value="ارسال" class="form-control bg-lime-600 h-10">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function () {
        sidebar.classList.toggle("active");
    };

    // function showSubmitButton(){
    // document.getElementById("notification_submit").classList.remove("d-none")
    // }
    // document.querySelectorAll("input.form-control").forEach(el => {
    //     el.addEventListener("change", showSubmitButton)
    // })
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('ability-input-group-search').addEventListener('input', function() {
        var filter = this.value.toLowerCase();
        var items = document.querySelectorAll('#ability-ul-list li');

        items.forEach(function(item) {
            var text = item.textContent.toLowerCase();
            if (text.includes(filter)) {
            item.style.display = '';
            } else {
            item.style.display = 'none';
            }
        });
    });
    document.getElementById('user-input-group-search').addEventListener('input', function() {
        var filter = this.value.toLowerCase();
        var items = document.querySelectorAll('#user-ul-list li');

        items.forEach(function(item) {
            var text = item.textContent.toLowerCase();
            if (text.includes(filter)) {
            item.style.display = '';
            } else {
            item.style.display = 'none';
            }
        });
    });
</script>
<script>
function sendNotification(url, form_data, csrftoken) {
    let data = form_data;
    let isValid = false;
    let message = "";
    let fullUrl = url;
    $.ajax({
        type: "POST",
        url: fullUrl,
        data: data,
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
        },
        dataType: "json",
        async: false,
        success: function(response) {
            isValid = true;
            message = response['message'];
        },
        error: function(response) {
            isValid = false;
            message = response.responseJSON['message'];
        }
    });
    return { isValid, message};
}
</script>
<script>
    document.getElementById('notification-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = $(this).serialize();
        const sendResult = sendNotification(url="{% url 'send_notification' %}", form_data=formData, csrftoken="{{ csrf_token }}");
        if (!sendResult.isValid) {
            $('#create-notification-box').prepend(`
                <div class="alert alert-msg alert-danger" role="alert">${sendResult?.message}</div>`
            );
            $('.alert-msg').fadeOut(10000);
            return;
        }
        else {
            $('#create-notification-box').prepend(`
                <div class="alert alert-msg alert-success" role="alert">${sendResult?.message}</div>`
            );
            $('.alert-msg').fadeOut(10000);
            return;
        }
        // window.location.href="{% url 'home' %}";
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
{% endblock %}