<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%; padding:20px 0">
        <div style=" justify-content: end; border-bottom:1px solid #eee; display: flex;">
            <a href="" style="width: 100%; text-align: end; font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">موکب درمانی حضرت زینب (س)</a>
        </div>
        <p style="font-size:1.1em; text-align: end; padding-right: 15px;">سلام </p>
        <p style="text-align: end; padding-right: 15px;">به موکب درمانی حضرت زینب خوش آمدید</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp_code}}</h2>
        <h5 style="text-align: center;">کد یکبارمصرف به مدت 2 دقیقه معتبر خواهد بود</h5>
        <p style="font-size:0.9em; text-align: end; padding-right: 15px;">با تشکر</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>خیره حضرت زینب (س)</p>
        </div>
    </div>
</div>